.landing{
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  background-color: white;
}
#colombia{
  background: #5660eb;
  color:rgb(255, 255, 255);
  text-align:center;
}
#england{
 background: #d9276d;
 color: rgb(255, 255, 255);
 text-align:center;

}
#germany{
  background:#ffffff;
 color: #1d1d1d;
 text-align:center;
}