<div class="main">
<div class="contenedor">
  <mat-tab-group>
    <mat-tab label="ITSCare">
        <div fxLayout="row" class="roleInfo">
            <div fxFlex="">
              <button mat-button (click)="backClicked()">
                  <i class="material-icons">
                      arrow_back
                      </i>back
              </button>
            </div>
            <div fxFlex="" class="centred">
              <h3>UI/UX Developer</h3>
            </div>
            <div fxFlex="">
            </div>
          </div>
          <div class="nbl" fxLayout="column" >
            <div fxFlex="" class="centred"> 
              <h4>DPort web app</h4>
              <p> A digital portfolio with mailing and shcheduling capabilites enables business consultants to seal deals with 
                health institutions. One of my task was designing and implementing the Layout. Here I will describe some of the
                concepts used to create the design.
              </p>
            </div>
            <div fxFlex="">
                <div fxLayout="row" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0">
                    <div fxFlex="60%">
                        <img height="100%" width="100%" src="assets/pc1.png" />
                    </div>
                    <div fxFlex="35%">
                      <div><br>The picture portraits the authoring view, a web app feature that enables the user with administrator credentials
                        to edit the portfolio layout.
                        That is, the libraries background color, name, position, sublibraries, documents, texts and Internet links.
                          <br><br>
                        The <b>preview</b> container shows instant changes that can be publish
                        upon user request. <br><br>
                        This design is inspired mainly by Gestalt Principles and Heuristics, two sets of principles that emerge from the study on
                        Human Factors and its application to the Human Computer Interaction. 
                        On the technical axes, it is developed with <b>Angular 6, HTML5, CSS3</b> and the <b>Angular Material library.</b><br><br>
                        For reasons of confidentiality, a minified and abstract Mock-up version of the application is displayed here. Libraries are meant to signify
                        grouping categories.<br><br>
                        <b>Gestalt principles</b><br>
                        Researched by German psychologists...Did you see that? Yes, Germans! ;) These principles
                        attempt to describe how people perceive visual elements when certain conditions apply.<br>
                        <ul>
                            <li><b>Proximity</b><br>
                              The image shows in two ocassions an element named "Library a", but to recognise that they have different 
                              functionalities attached, they are placed further apart.
                            </li>
                        </ul>
                        <ul class="seemeinBig">
                            <li><b>Common Region</b><br>
                              However, placing them further apart would not necessarily fulfill the purpose of conveying different functionality.
                              To do that, the first library is placed in the container named "Preview" and the second in the lower container that hosts
                              also an "Add" call to action button. This button is placed there so that a Library can be added to the lower container 
                              but not to the first one.
                              The same happens with the container where "Documents texts and links" are displayed (soft purple container).
                              Rather than being pure libraries (grouping categories if you like) they host content, 
                              like pdfs or excel documents and that is the reason why they are enclosed in a different container, whithin its parent container, the library.
                          </ul>
                        
                      </div>    
                  </div>
                </div>
            </div>
            <div fxFlex="100%">
               
                <ul class="hidemeinBig">
                    <li><b>Common Region</b><br>
                      However, placing them further apart would not necessarily fulfill the purpose of conveying different functionality.
                      To do that, the first library is placed in the container named "Preview" and the second in the lower container that hosts
                      also an "Add" call to action button. This button is placed there so that a Library can be added to the lower container 
                      but not to the first one.
                      The same happens with the container where "Documents texts and links" are displayed (soft purple container).
                      Rather than being pure libraries (grouping categories if you like) they host content, 
                      like pdfs or excel documents and that is the reason why they are enclosed in a different container, whithin its parent container, the library.
                </ul>
              
                  <b>Heuristics</b><br>
                  <ul>
                      <li><b>Visibility of system status</b><br>
                        The application is in charge of informing appropriately changes and states of the system.
                        In the lower container there are a set of tooltips that would be displayed upon user hovering, they tell the user
                        why to click on them and what to expect after that.
                        Another clear example is shown in the navigation bar. To know where in the navigation a user currently is, 
                        the active tab must be highlighted. <br>
                        A similar pattern is shown with the breadcrumbs that enablee users to go back from one sublibrary to its library parent.
                      </li>
                      <li><b>Recognition rather than recall</b><br>
                        This principle advocates to help users minimize their memory load by making objects, actions, and options visible.
                        To this purpose, standard icons with a label (when possible) are displayed as opposed to creating 
                        "unique" icons whithout labels or tooltips that leave our users wondering how to achieve a goal with our user interface
                        or even worse deleting files that were not allowed to be deleted, for example.
                      </li>
                    </ul>

            </div>
            <div fxFlex="100%">
              <div fxLayout="row">
                <div></div>
                  <div fxFlex="" class="centred"> 
                      <h4>DPort iPad app</h4>
                </div>
                <div></div>
              </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0">
                  <div fxFlex="">
                    <p>In the iPad version of the application, no authoring view is enabled to favoured device capabilities.
                      A minified version of the main screen is shown.<br><br>
                      <b>Responsiveness</b><br>
                      To support responsiveness, the grid that in bigger viewports outlines three or more 
                      columns, is now displayed in one single column containing all libraries. <br><br>
                      <b>Accessibility</b><br>
                      according to the W3C Accessibility guidelines, level AA requires a contrast ratio of at 
                      least 4.5:1 for normal text and 3:1 for large text. Level AAA requires a contrast ratio 
                      of at least 7:1 for normal text and 4.5:1 for large text. <br>
                      Because of this, the font color of some libraries is dark and for the others 
                      it is bright. 
                      <br>The font sizes are fixed in rem units to create a perfectly scalable layout.
                    </p>
                  </div>
                  <div fxFlex="">
                      <img style="border-radius: 25px;" height="90%" width="80%" src="assets/ipad.png" />
                  </div>
                </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="AHC">
      <div class="nbl">
        <div fxLAyout="row" class="roleInfo">
            <div fxFlex="">
              <button mat-button (click)="backClicked()">
                  <i class="material-icons">
                      arrow_back
                      </i>back
              </button>
            </div>
            <div fxFlex="" class="centred">
              <h3>Technology Officer</h3>
            </div>
            <div fxFlex="">
            </div>
          </div>
          <div fxLAyout="row">
            <div fxFlex="">
                <p>A studies abroad company with around 10 years of experience decided to enter the digital 
                    world. I was in charge of creating their online presence, a new brand and boost
                    sales with the help of digital channels.
                    As you will see in the next expandables, the tasks where quite varied but we achieved the goal!
                  </p>
            </div>
          </div>
          <!--Expansion panel-->
              <div><p><b>Logo & Business Cards</b><br>
                Two words had to be reflected in this design: simplicity and elegance. <br>
                The color palette as well as the ribbon were chosen as to express warmth, combined with the favourite color of the company's owner.
                This color does not match necessarily the warmth palette, but it definitely gave the logo and business cards an interesting edge!
                The simplicity permeates the layout and information design, and the elegance sprang with the ribbon, the font and the glossy paper
                the cards were printed in.
              </p></div>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0" class="niceshadow">

                  <div fxFlex="45%">
                        <img height="100%" width="100%" src="assets/bcahcfront.jpg" /> 
                  </div>
                  <div fxFlex="45%" >
                        <img height="100%" width="100%" src="assets/bcahcback.jpg" />
                  </div>
              </div>

              <div><b>Banners</b><br>
              <p>Once the market segment was set up - or re thought - banners, flyers and posters were designed to attract young people
              with "grafitti" like pictures of London, mixed up with vivid colors. I do not remember how many young ladies
              were sent to get rides on red London buses but I am sure the number was not small ;)</p>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0" class="niceshadow" >
                    <div fxFlex="" class="centred">
                          <img height="60%" width="50%" src="assets/ahcposter.png" /> 
                    </div>
                    <div fxFlex="" class="centred">
                          <img height="70%" width="100%" src="assets/ahcflyer.png" />
                    </div>
                    
                </div>
                <div><p><br><b>Website</b></p>
                  <p>Finally a website was also implemented. The technolgies used were JavaScript, HTML5, CSS3 and the framework
                    Bootstrap. Meanwhile a different version is being used but this was the one I built for them.
                    If you want to see it in a new window with its own responsive features, <a href="https://paolamoreno.de/ahc" target="_blank">click here</a> please.
                  </p>
                </div>

                <div class="centred">
                    <embed id="123" height="724px" width="1124px" src="https://paolamoreno.de/ahc" /> 
                </div>
        </div>    
              
    </mat-tab>
    <mat-tab label="NCR">
        <div fxLAyout="row" class="roleInfo">
            <div fxFlex="">
              <button mat-button (click)="backClicked()">
                  <i class="material-icons">
                      arrow_back
                      </i>back
              </button>
            </div>
            <div fxFlex="" class="centred">
              <h3>UX Designer</h3>
            </div>
            <div fxFlex="">
            </div>
          </div>
            <p>Following the introduction of new touch based ATMs (cash machines) at NCR in Edinburgh, 
              services built with web technologies afterwards deployed to the device with ATM network.
              This could allow the introduction of new services and more interactions that possible, given that
              the device was not restricted anymore to the traditional "8 buttons to the side" version.
              This brought four interesting research questions:
              1) will the people adapt to the new services and interactions?
              2) will the nw technology make transactions faster?
              3)how will different age groups would react to this novelty?
              4)how could discoverability be achieved? (re phrase)
              Those 4 questions were the focus of a research study that culminated with a web prototype. 
             </p>
            

                      

                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="niceshadow">
                        <div fxFlex="" class="centred">
                                <img height="100%" width="100%" src="assets/designsession.jpg" /> 
                          </div>
                          <div fxFlex="" class="centred">
                                <img height="100%" width="100%" src="assets/designsession1.jpg" />
                          </div>
                  
                  </div>
    
               
                     Design
                   
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="niceshadow" >
                            <div fxFlex="" class="centred"> 
                                <img height="60%" width="50%" src="assets/ncr3.png" />
                            </div>
                            <div fxFlex="">
                                    <div fxLayout="column">
                                            <div fxFlex=""> 
                                                    <img height="60%" width="70%" src="assets/ncr1.png" />
                                            </div>          
                                            <div fxFlex=""> 
                                                <img height="60%" width="70%" src="assets/ncr4.png" />
                                            </div> 
                                    </div>
                            </div>
                            
                            
                    </div>
                
                            Data Analysis                          
                      
                        <div fxLayout="row" class="niceshadow">
                                <div fxFlex="" class="centred">
                                        <img height="100%" width="80%" src="assets/heatmapa.png" /> 
                                  </div>
                                  <div fxFlex="" class="centred">
                                        <img height="100%" width="80%" src="assets/heatmapb.png" />
                                  </div>
                                  <div fxFlex="" class="centred">
                                        <img height="100%" width="80%" src="assets/abtesting.png" />
                                  </div>
                        </div>
                    
                        Web Prototype
                     
                    <div class="centred">
                            <embed id="123" height="690px" width="1200px" src="https://paolamoreno.de/ncr" /> 
                  </div>
                   
             
    </mat-tab>
    <mat-tab label="W@pColombia">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  User Research
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="niceshadow">
                      <div fxFlex="" class="centred">
                            <img height="100%" width="50%" src="assets/Picture1.png" /> 
                      </div>
                      <div fxFlex="" class="centred">
                            <img height="60%" width="35%" src="assets/Picture3.png" />
                      </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="niceshadow">
                  <div fxFlex="" class="centred">
                      <img height="100%" width="50%" src="assets/Picture4.png" /> 
                </div>
                <div fxFlex="" class="centred">
                    <img height="100%" width="50%" src="assets/Picture5.png" /> 
              </div>

              </div>

            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Design
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="niceshadow" >
                        <div fxFlex="" class="centred"> 
                            <img height="60%" width="50%" src="assets/ncr3.png" />
                        </div>
                        <div fxFlex="">
                                <div fxLayout="column">
                                        <div fxFlex=""> 
                                                <img height="60%" width="70%" src="assets/ncr1.png" />
                                        </div>          
                                        <div fxFlex=""> 
                                            <img height="60%" width="70%" src="assets/ncr4.png" />
                                        </div> 
                                </div>
                        </div>
                        
                        
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Data Analysis                          
                    </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" class="niceshadow">
                            <div fxFlex="" class="centred">
                                    <img height="100%" width="80%" src="assets/heatmapa.png" /> 
                              </div>
                              <div fxFlex="" class="centred">
                                    <img height="100%" width="80%" src="assets/heatmapb.png" />
                              </div>
                              <div fxFlex="" class="centred">
                                    <img height="100%" width="80%" src="assets/abtesting.png" />
                              </div>
                    </div>
                </mat-expansion-panel>

            <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Web Prototype
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="centred">
                        <embed id="123" height="690px" width="1200px" src="https://paolamoreno.de/ncr" /> 
              </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>

  </mat-tab-group>

</div>
</div>
