.main{
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  background: linear-gradient(321deg, #d5d5d5, #fff);
}
.mat-grid-list, .mat-expansion-panel{
  margin: 0 20px;
}
#webkurs{
  background:#652bb6;
  color:rgb(255, 255, 255);
  text-align:center;
}
#brp{
 background: #3f819b;
 color: rgb(255, 255, 255);
 text-align:center;

}
#apsapp{
  background:#ffffff;
 color: #1d1d1d;
 text-align:center;
}
#beso{
  background:#2bac8c;
  color:rgb(255, 255, 255);
  text-align:center;
}
.nbl{
  /*background: linear-gradient(321deg, #339e96,#682cbc);*/
  color: #1d1d1d;
  margin: 0 50px;
}
@media only screen and (min-width: 1280px) {
  img {
      height: 90%;
      width: 90%;
  }
  .hidemeinBig{
    display: none;
  }
  .seemeinBig{
    display: block;
  }
}

@media only screen and (max-width: 1280px) {
  img {
      height: 90%;
      width: 90%;
  }
  .hidemeinBig{
    display: block;
  }
  .seemeinBig{
    display: none;
  }
}