<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="split1 split2 left">
  <div class="centered">

   <img src="assets/ella2.jpg" alt="me">
   <!--<h2>Paola Moreno</h2>
   <p>UX Professional</p>-->
   <p></p>
    <a [routerLink]="['about']">About me</a>
  </div>
</div>
<div class="split1 split3 left1">
    <div class="centered name">
        <h2>Paola Moreno</h2>
    </div>
    <div class="centered down">
        <h2>UX Professional</h2>
    </div>
</div>

<div class="split1 right">
  <div class="centered">
    <img src="assets/work.jpg" alt="lets talk about work">
    <p></p>
    <a [routerLink]="['work']">Work</a>

  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
